<html>
    <head>
        <script src="lib.js"></script>
    </head>
    <body ng-app="myapp" ng-controller="myctrl">
        <form name="loginform" novalidate>
            <h1>LOGIN FORM</h1>
            <input type="text" name="username" placeholder="username" ng-model="user.username" ng-pattern="/^[a-zA-Z][a-zA-Z\d_]{4,}[a-zA-Z\d]$/" required>
            <span ng-show="loginform.username.$error.required && loginform.username.$dirty">username required</span>
            <span ng-show="loginform.username.$error.pattern && loginform.username.$dirty"> username invalid</span>
            <br>
            <input type="text" name="password" placeholder="passsword" ng-model="user.password" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$#@!%&*\-])[a-zA-Z\d%$#@!&*\-]{8,}$/" required>
            <span ng-show="loginform.password.$error.required && loginform.password.$dirty">passsword required</span>
            <span ng-show="loginform.password.$error.pattern && loginform.password.$dirty">password ivalid</span>
            <br>
            <button ng-click="login()" ng-disabled="loginform.$invalid">LOGIN</button>
            <br>
            <p ng-show="islogin">welcome, {{user.username}}</p>
        </form>
        <script>
            var app=angular.module('myapp',[]);
            app.controller('myctrl',function($scope)
            {
                $scope.user={username:'',password:''};
                $scope.islogin=false;
                $scope.login=function()
                {
                    $scope.islogin=true;
                }
            });
        </script>
    </body>
</html>