<html>
    <head>
        <script src="lib.js"></script>
    </head>
    <body ng-app="myapp" ng-controller="myctrl">
        <h1>EMPLOYEE DETAILS</h1>
        <input type="text" ng-model="searchname" placeholder="search by name">
        <input type="text" ng-model="searchsal" placeholder="search by salary">
        <ul>
            <li ng-repeat="emp in employee | filter: {name: searchname, salary: searchsal}">
                name:{{emp.name}}, salary:{{emp.salary}}
            </li>
        </ul>
        <script>
            var app=angular.module('myapp',[]);
            app.controller('myctrl',function($scope)
            {9
                $scope.employee=[{name:'rose',salary:15000},{name:'mona',salary:20000},{name:'ritu',salary:25000}];
                $scope.searchsal='';
                $scope.serachname='';
            });
        </script>
    </body>
</html>